flows.json
[
  {
    "id": "ad03536.f6f65b",
    "type": "tab",
    "label": "フロー 1",
    "disabled": false,
    "info": ""
  },
  { "id": "3f5d959b.6abe2a", "type": "alexa-home-conf", "username": "youruser" },
  {
    "id": "f3a8dbed.89e078",
    "type": "alexa-home",
    "z": "ad03536.f6f65b",
    "conf": "3f5d959b.6abe2a",
    "device": "145617",
    "acknoledge": true,
    "name": "名言モード",
    "topic": "",
    "x": 120,
    "y": 140,
    "wires": [["ad3e5867.b96c98", "63c46577.848f0c"]]
  },
  {
    "id": "ad3e5867.b96c98",
    "type": "debug",
    "z": "ad03536.f6f65b",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 310,
    "y": 100,
    "wires": []
  },
  {
    "id": "a27d9f8c.e1896",
    "type": "file",
    "z": "ad03536.f6f65b",
    "name": "モードファイル作成",
    "filename": "/home/pi/rgb-led-matrix-disp-setting/mode",
    "appendNewline": true,
    "createDir": false,
    "overwriteFile": "true",
    "encoding": "utf8",
    "x": 560,
    "y": 280,
    "wires": [[]]
  },
  {
    "id": "63c46577.848f0c",
    "type": "function",
    "z": "ad03536.f6f65b",
    "name": "",
    "func": "var msg = { payload: \"meigen\"}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 300,
    "y": 200,
    "wires": [["a27d9f8c.e1896"]]
  },
  {
    "id": "bda62811.df9e78",
    "type": "alexa-home",
    "z": "ad03536.f6f65b",
    "conf": "3f5d959b.6abe2a",
    "device": "145618",
    "acknoledge": true,
    "name": "時計モード",
    "topic": "",
    "x": 120,
    "y": 280,
    "wires": [["fcf4cb6f.e361b8", "ad3e5867.b96c98"]]
  },
  {
    "id": "fcf4cb6f.e361b8",
    "type": "function",
    "z": "ad03536.f6f65b",
    "name": "",
    "func": "var msg = { payload: \"clock\"}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 300,
    "y": 340,
    "wires": [["a27d9f8c.e1896"]]
  },
  {
    "id": "afc74249.e855d",
    "type": "alexa-home",
    "z": "ad03536.f6f65b",
    "conf": "3f5d959b.6abe2a",
    "device": "145637",
    "acknoledge": true,
    "name": "日付表示",
    "topic": "",
    "x": 120,
    "y": 440,
    "wires": [["a7265f42.3e3e5", "ad3e5867.b96c98"]]
  },
  {
    "id": "a7265f42.3e3e5",
    "type": "function",
    "z": "ad03536.f6f65b",
    "name": "",
    "func": "var msg = { payload: \"date\"}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 300,
    "y": 440,
    "wires": [["a27d9f8c.e1896"]]
  },
  {
    "id": "d2e357ea.90f438",
    "type": "alexa-home",
    "z": "ad03536.f6f65b",
    "conf": "3f5d959b.6abe2a",
    "device": "145634",
    "acknoledge": true,
    "name": "温度表示",
    "topic": "",
    "x": 120,
    "y": 540,
    "wires": [["dc276871.8eaee8", "ad3e5867.b96c98"]]
  },
  {
    "id": "dc276871.8eaee8",
    "type": "function",
    "z": "ad03536.f6f65b",
    "name": "",
    "func": "var msg = { payload: \"temp\"}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 300,
    "y": 540,
    "wires": [["a27d9f8c.e1896"]]
  }
]
